* {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: white;
    font-size: 20px;
    background: rgba(33, 33, 33, .4);
}

.profile-pic-container {
    justify-items: center;
}

.profile-pic {
    width: 270px; 
    height: 350px;
}

.about-me {
    color:  rgb(46,117,141, 0.9);
    font-size: 58px;
}

.about-me-link {
    color:  rgb(46,117,141, 0.9);
}